<html xmlns="http://www.w3.org/1999/html"> 
	<head> 
		<meta charset="UTF-8"> 
	</head>	 
	<body> 
		<!-- Main consist-all table-->		 
		<table valign="middle" align="center"> 
			<!-- First the picture - must be faded to white at the botttom -->			 
			<tr> 
				<td cellpadding="0" cellspacing="0"> 
					<a href="#"> 
						<img align="middle" style="display: block; width:700px;" src="https://img.techpowerup.org/200512/1991.png" border="0" alt="picture">
					</a>					 
				</td>				 
			</tr>			 
			<tr> 
				<td cellpadding="0" cellspacing="0"> 
					<a href="#"> 
						<img align="middle" style="display: block;width:700px;" src="https://img.techpowerup.org/200512/2.png" border="0" alt="picture">
					</a>					 
				</td>				 
			</tr>			 


		</table>		 
		<!-- Main button -->

            <table valign="middle" align="center" cellpadding="0" cellspacing="0">
			<tr>
                <td  valign="middle" align="center" >
					<form action="{main_button_link}">
                             <input type="submit" value="לחצי כאן לקבלת פרטים נוספים על הקורס" class="button-border" action="https://google.com" valign="middle" align="center" style="border-radius: 6px; border: 1px solid #f2f2f2; background: linear-gradient(359deg, #a7fffa 0%, #74c6cc 100%); font-family: 'Rubik','sans-serif','Arial','Helvetica'; font-size: 25px; font-weight: normal; font-style: normal; color: #000000; text-decoration: none; letter-spacing: 0px; text-align: center;"/>
                        </form>
                </td>
			</tr>
            </table>
        <table>
                <tr>
                    <tb>
                        <br><br><br><br>
                    </tb>
                </tr>
        </table>

		<!-- Unsubscribe -->		 
		<table valign="middle" align="center" cellpadding="0" cellspacing="0"> 
			<tr>

				<td class="button-border" valign="middle" align="center" style="border: 1px solid #000000; border-radius: 6px;"> 

                    <table border="0" cellpadding="0" cellspacing="2" align="center" class="center-float">
						<tr> 
							<td width="10"></td> 
							<td class="unsubscribe" style="font-family:'Rubik',sans-serif,Arial,Helvetica;font-size:11px;line-height:11px;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;letter-spacing:0px;"> 
								<a href="http://sl-op.com:5659/unsubscribe?id={user_id}" style="color:#000000;text-decoration:none; font-family:inherit;">להסרה מרשימת התפוצה לחצ/י כאן</a>
							</td>							 
							<td width="10"></td> 
						</tr>						 
					</table>					 
				</td>				 
			</tr>			 
		</table>		 
	</body>	 
</html>