<!DOCTYPE html> 
<html lang="zxx" style="background: linear-gradient(90deg, #8E0E00, #1F1C18);"> 
	<head> 
		<title>BestFit</title>		 
		<meta charset="UTF-8"> 
		<meta name="description" content="loans HTML Template"> 
		<meta name="keywords" content="loans, html"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Favicon -->		 
		<link href="../../static/img/favicon.ico" rel="shortcut icon"/> 
		<!-- Google font -->		 
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet"> 
		<!-- Stylesheets -->		 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/> 
		<link rel="stylesheet" href="../../static/css/font-awesome.min.css"/> 
		<link rel="stylesheet" href="../../static/css/owl.carousel.min.css"/> 
		<link rel="stylesheet" href="../../static/css/flaticon.css"/> 
		<link rel="stylesheet" href="../../static/css/slicknav.min.css"/> 
		<!-- Main Stylesheets -->		 
		<link rel="stylesheet" href="../../static/css/gym.css"/>
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->		 
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik"> 
		<link href="../../static/css/costume_css.css" rel="stylesheet" type="text/css"> 
		<!-- Facebook Pixel Code -->		 
		<script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '991164471320626');
          fbq('track', 'PageView');
        </script>		 
		<noscript>
			<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=991164471320626&ev=PageView&noscript=1"/>
		</noscript>		 
		<!-- End Facebook Pixel Code -->		 
	</head>	 
	<body> 
		<!-- Page Preloder -->		 
		<div id="preloder"> 
			<div class="loader"></div>			 
		</div>		 
		<!-- Header Section -->		 
		<!-- Header Section end -->		 
		<!-- Hero Section end -->		 
		<section class="hero-section"> 
			<div class="container"> 
				<div class="row" style="float: none; padding-bottom: -101px; text-align:center;"> 
					<div style="background-color: rgba(255, 255, 255, 0.85); direction: rtl; padding-top: 19px; margin: -72px auto auto; width: 90%;

/* hight: 70% */
/* max-width: 600px */" class="col-lg-12"> 
						<div class="hs-text" style="direction: rtl; font-family: Rubik;padding-top: 16px; padding-left: 16px; padding-right: 16px;"> 
							<h2 class="text-center"><ul style="font-size: 5vw;">
									<span style=""><u><u>המנוי שיכניס אותך לכושר :</u></u></span> 
								</ul><ul style="font-size: 5vw;">
									<span style="font-weight: normal;">בונוס מיוחד למנויים חדשים בחדר הכושר <b>"BestFit" </b></span>
								</ul></h2> 
							<p style="font-size: 2.3vw; margin-bottom: 13px;" class=" bold-color">קבל גם <b class="bold-color">מנוי לחדר כושר</b>&nbsp;וגם&nbsp;<b class="bold-color">פגישת ייעוץ והדרכה</b>&nbsp;ממאמן אישי, לתוכנית אימונים <font class="bold-color"><b>שתמקסם את התוצאות שלך</b></font>&nbsp;ובתוך זמן קצר תרגיש חזק ובריא יותר ו<b class="bold-color">אף אחת</b> לא תוכל <b class="bold-color">להוריד ממך את העיניים!</b>&nbsp;<br></p> 
							<b style="font-size: 2.2vw;">מלא את פרטיך ונציג יחזור אליך עם פרטים נוספים!</b> 
							<div style="text-align:center;"> 
								<form enctype="multipart/form-data" method="POST" class="form-horizontal">
									<div class="form-group">
										<label for="username">שם מלא: </label>
										<input class="subscribe-form form-control input" id="username" type="text" name="username" required>
									</div>
									<div class="form-group">
										<label for="phone">מספר טלפון: </label>										 
										<input class="subscribe-form form-control input" id="phone" type="text" name="phone" required> 
									</div>
									<label for="email">כתובת מייל:</label>									 
									<input class="subscribe-form form-control input" id="email" type="email" name="email" required> 
									<div> 
										<input type="checkbox" class="" name="send_newsletter" id="send_newsletter" required/> 
										<label for="send_newsletter" class="checkbox-rtl">אני מאשר קבלת דיוור פרסומי</label>										 
									</div>									 
									<button class="site-btn float-none bold-color" style="background-position: center; background-origin: border-box; width: 54%; margin-bottom: 2%; margin-top: 2%;"> 
										<span style="font-size: 2vw;">שלח טופס לקבלת הצעה</span> 
									</button>									 
									{% csrf_token %}
								</form>
							</div>							 
							<p class="text-center" style="font-size: 22px; margin-bottom: 5%; color: #161415;"></p> 
							<p class="text-center" style="font-size: 22px; color: #f40064;"><b style="font-size: 25px;"></b></p> 
							<ul> 
</ul>							 
							<p></p> 
							<p></p> 
						</div>						 
					</div>					 
				</div>				 
			</div>			 
			<div class="hero-slider owl-carousel"> 
				<div class="hs-item set-bg" data-setbg="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjIwOTIyfQ"></div>				 
				<div class="hs-item set-bg" data-setbg="https://images.unsplash.com/photo-1579047440583-43a690fe2243?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjIwOTIyfQ">
</div>
				<div class="hs-item set-bg" data-setbg="https://images.unsplash.com/photo-1578924608828-79a71150f711?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjIwOTIyfQ"></div>				 
			</div>			 
		</section>		 
		<!-- Hero Section end -->		 
		<!-- Why Section end -->		 
		<!-- Why Section end -->		 
		<!-- CTA Section end -->		 
		<!-- CTA Section end -->		 
		<!-- Feature Section -->		 
		<!-- Feature Section end -->		 
		<!-- Help Section -->		 
		<!-- Help Section end -->		 
		<!-- Info Section -->		 
		<!-- Info Section end -->		 
		<!-- Score Section end -->		 
		<!-- Score Section end -->		 
		<!-- Footer Section -->		 
		<!-- Footer Section end -->		 
		<!--====== Javascripts & Jquery ======-->		 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>		 
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>		 
		<script src="../../static/js/jquery.slicknav.min.js"></script>		 
		<script src="../../static/js/owl.carousel.min.js"></script>		 
		<script src="../../static/js/jquery-ui.min.js"></script>		 
		<script src="../../static/js/main.js"></script>		 
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>		 
	</body>	 
</html>
