<!DOCTYPE html>
<html lang="zxx" style="background: linear-gradient(90deg, #CB356B, #BD3F32);">
	<head>
		<title>Fashion</title>
		<meta charset="UTF-8">
		<meta name="description" content="loans HTML Template">
		<meta name="keywords" content="loans, html">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Favicon -->
		<link href="../../static/img/favicon.ico" rel="shortcut icon"/>
		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
		<!-- Stylesheets -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="../../static/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="../../static/css/owl.carousel.min.css"/>
		<link rel="stylesheet" href="../../static/css/flaticon.css"/>
		<link rel="stylesheet" href="../../static/css/slicknav.min.css"/>
		<!-- Main Stylesheets -->
		<link rel="stylesheet" href="../../static/css/style.css"/>
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
	</head>
	<body>
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>
		<!-- Header Section -->
		<!-- Header Section end -->
		<!-- Hero Section end -->
		<section class="hero-section">
			<div class="container">
				<div class="row" style="float: none; padding-bottom: -101px; text-align:center;">
					<div style="background-color: rgba(234, 226, 226, 0.76); direction: rtl; padding-top: 19px; margin: auto; width: 95%;

/* max-width: 600px */" class="col-lg-12">
						<div class="hs-text" style="direction: rtl; font-family: Rubik;padding-top: 16px; padding-left: 16px; padding-right: 16px;">
							<h2 class="text-center text-color"><ul style="font-size: 5vw;">
									<span style=""><u>
            הנאה בכל לגימה:</u></span>
									<span style="font-weight: normal;">קפה עוצמתי לאנשים </span>
									<span class="bold-text-color"><span style="color: #6b3315;">שלא מתפשרים על איכות</span></span>
									<span style="font-weight: normal;">במגוון טעמים שישאירו לך</span>
									<span class="bold-text-color"> טעם של עוד</span>
								</ul></h2>
							<p style="direction: rtl; font-size: 3vw; margin-bottom: 29px;" class="text-right">קפסולות הקפה המוכרות והאהובות עם תערובות קפה בהשראת קלייה איטלקית שיגיעו עד אליך במשלוח מהיר מהיום למחר ותוכל להנות מקפה איכותי ללא פשרות. </p>
							<div style="text-align:center;">
								<a href="https://il.shein.com/">
									<button class="site-btn float-none" style="
background-position: center; background-origin: border-box; width: 54%; margin-bottom: 2%;">
										<span style="font-size: 2vw;">לחץ כאן</span>
									</button>
								</a>
							</div>
							<p class="text-center bold-text-color" style="font-size: 22px; margin-bottom: 5%;"><b style="font-size: 2.5vw;">וגלה עולם של טעמים שיהפכו את רגע הקפה שלך לרגע מיוחד.</b></p>
							<ul>
								<li>
									<p style="font-size: 2vw;">*התמונות להמחשה בלבד.</p>
								</li>
							</ul>
							<p></p>
							<p></p>
						</div>
					</div>
				</div>
			</div>
			<div class="hero-slider owl-carousel">
				<div class="hs-item set-bg" data-setbg="https://images.unsplash.com/photo-1497515114629-f71d768fd07c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjIwOTIyfQ"></div>
				<div class="hs-item set-bg" data-setbg="https://images.unsplash.com/photo-1524350876685-274059332603?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjIwOTIyfQ"></div>
				<div class="hs-item set-bg" data-setbg="https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjIwOTIyfQ"></div>
			</div>
		</section>
		<!-- Hero Section end -->
		<!-- Why Section end -->
		<!-- Why Section end -->
		<!-- CTA Section end -->
		<!-- CTA Section end -->
		<!-- Feature Section -->
		<!-- Feature Section end -->
		<!-- Help Section -->
		<!-- Help Section end -->
		<!-- Info Section -->
		<!-- Info Section end -->
		<!-- Score Section end -->
		<!-- Score Section end -->
		<!-- Footer Section -->
		<!-- Footer Section end -->
		<!--====== Javascripts & Jquery ======-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="../../static/js/jquery.slicknav.min.js"></script>
		<script src="../../static/js/owl.carousel.min.js"></script>
		<script src="../../static/js/jquery-ui.min.js"></script>
		<script src="../../static/js/main.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	</body>
</html>
