<!DOCTYPE html>
<html lang="zxx" style="background: linear-gradient(90deg, #CB356B, #BD3F32);">
	<head>
		<title>Personal-trainer</title>
		<meta charset="UTF-8">
		<meta name="description" content="loans HTML Template">
		<meta name="keywords" content="loans, html">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Favicon -->
{#		<link href="../../static/img/favicon.ico" rel="shortcut icon"/>#}
		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
		<!-- Stylesheets -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="../../static/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="../../static/css/owl.carousel.min.css"/>
		<link rel="stylesheet" href="../../static/css/flaticon.css"/>
		<link rel="stylesheet" href="../../static/css/slicknav.min.css"/>
		<link rel="stylesheet" href="../../static/css/personal-trainer.css"/>
		<!-- Main Stylesheets -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
	</head>
	<body>
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>
		<!-- Header Section -->
		<!-- Header Section end -->
		<!-- Hero Section end -->
		<section class="hero-section">
			<div class="container">
				<div class="row" style="float: none; padding-bottom: -101px; text-align:center;">
					<div style="background-color: rgba(125, 203, 191, 0.8); direction: rtl; padding-top: 19px; margin: auto; width: 95%;

/* max-width: 600px */" class="col-lg-12">
						<div class="hs-text" style="direction: rtl; font-family: Rubik;padding-top: 16px; padding-left: 16px; padding-right: 16px;">
							<h2 class="text-center"><ul style="font-size: 5vw;">
									<span style=""><u> </u></span>
									<span style="color: #ffffff;">תוכניות אימונים ייחודיות ב<span class="bold-text-color">התאמה אישית</span> לתוצאות ש<span class="bold-text-color" style="">מחזיקות לאורך זמן</span>  ויביאו אותך לגוף <span class="bold-text-color" style="">הבריא והחטוב</span> שאת חולמת עליו!</span>
								</ul></h2>
							<p style="direction: rtl; font-size: 3vw; margin-bottom: 29px; color: #0a1914;" class="text-right">תקבלי תוכנית אימונים ותפריט מאוזן ובריא בהתאמה אישית לצרכים שלך תוך ליווי אישי ממאמנים מקצועיים ומנוסים עם יחס חם ותומך, שיבטיחו תוצאות מקסימליות בפרק זמן מינימלי ותוך זמן קצר תרגישי אנרגטית, קלילה, ובטוחה יותר בגוף שלך </p>
							<div style="text-align:center;">
                                <form method="post">
                                    <button class="site-btn float-none" style="
                                background-position: center; background-origin: border-box; width: 54%; margin-bottom: 2%;">
										<span style="font-size: 2vw;">ליחצי לקבלת פרטים נוספים</span>
									</button>
                                    {% csrf_token %}
                                </form>
							</div>
							<p class="text-center" style="font-size: 22px; margin-bottom: 5%; color: #10231f;"><b style="font-size: 2.5vw;"><u>כי מגיע לך להנות מהגוף שלך!</u></b></p>
							<p class="text-center" style="font-size: 22px; color: #f40064;"><b style="font-size: 25px;"></b></p>
							<p></p>
							<p></p>
						</div>
					</div>
				</div>
			</div>
			<div class="hero-slider owl-carousel">
				<div class="hs-item set-bg" data-setbg="https://images.unsplash.com/photo-1544216717-3bbf52512659?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjIwOTIyfQ">
</div>
				<div class="hs-item set-bg" data-setbg="https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjIwOTIyfQ"></div>
				<div class="hs-item set-bg" data-setbg="https://images.unsplash.com/photo-1494390248081-4e521a5940db?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjIwOTIyfQ">
</div>
			</div>
		</section>
		<!-- Hero Section end -->
		<!-- Why Section end -->
		<!-- Why Section end -->
		<!-- CTA Section end -->
		<!-- CTA Section end -->
		<!-- Feature Section -->
		<!-- Feature Section end -->
		<!-- Help Section -->
		<!-- Help Section end -->
		<!-- Info Section -->
		<!-- Info Section end -->
		<!-- Score Section end -->
		<!-- Score Section end -->
		<!-- Footer Section -->
		<!-- Footer Section end -->
		<!--====== Javascripts & Jquery ======-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="../../static/js/jquery.slicknav.min.js"></script>
		<script src="../../static/js/owl.carousel.min.js"></script>
		<script src="../../static/js/jquery-ui.min.js"></script>
		<script src="../../static/js/main.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	</body>
</html>
